<!-- app/views/layouts/_nav.html.erb -->
<nav class="bg-custom-blue font-semibold text-white flex justify-between items-center py-5" style="background-color: #3778c2;">  
  <div class="px-4">
    <%= link_to '<', :back, class: "text-white opacity-50 hover:opacity-75" %>
  </div>
  <div>
    <span><%= content_for?(:title) ? yield(:title) : "No title set" %></span>
  </div>
  <div class="px-4">
    <!-- Placeholder for alignment; you can put something else here if you like -->
  </div>
</nav>
